apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: e2e-tests-go-lpyfndpy-workflow
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/e2e-tests-go-lpyfndpy-workflow:66a0c6116225fdad00ee836ecc1435b93f54083a@sha256:f7b1275dd1e29737f072a7bf75826c131231428960102bd49b47f08f0b1a7e22
          name: container-image
